body, .body {
    background-color: #333333 !important; /* Dark grey background */
    color: black !important; /* Black text */
}

a {
    color: #009688 !important; /* Teal links */
}

a:visited {
    color: #00796b !important; /* Darker teal for visited links */
}

h1, h2, h3, h4, h5, h6 {
    color: #333333 !important; /* Dark grey for headers */
}

body {
    --themecolor: black;
  }

  .wy-side-nav-search {
    background-color: var(--themecolor);
  }
  .wy-nav-top {
    background-color: var(--themecolor);
  }
